@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* ========= SIGN IN PAGE ========= */

.signIn-background {
  height: 100%;
  width: 100%;
  background-color: #22242F;
  position: fixed;
}

.signIn-title {
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.signIn-weight-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  line-height: 56px;
}

.signIn-mate-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  color: white;
  font-size: 75px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  line-height: 70px;
}

.signIn-forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.signIn-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}

.signIn-titles {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 20%;
}

.signIn-divider {
  position: relative;
}

.login-error {
  position: relative;
  width: 100%;
}


/* ======= HEADER ======= */

.header-background {
  background-color: #22242F;
  padding-top: 8%;
}

.header-title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8%;
}

.header-weight-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  color: white;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  line-height: 56px;
}

.header-mate-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  color: white;
  font-size: 55px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  line-height: 36px;
}

.nav-bar {
  display: flex;
  justify-content: center;
}


/* ====== COMMUNITY ====== */

.community-filter {
  display: flex;
  justify-content: space-evenly;
}

.ui.menu:after {
  content: none;
}

.community-filter-item {
  width: 30%;
  display: flex;
  justify-content: center;
}

.ui.card:after {
  content: none;
}

.community-plans-list {
  display: flex;
  justify-content: space-evenly;
}

.ui.two.cards >.card {
  width: 250px;
}


/* CREATE PLAN */

.create-plan {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 50px;
}

.create-plan-select {
  width: 100%;
  padding: 0 30%;
}

.wl-inputs {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;
}

.wl-field {
  width: 100px;
}

.cur-to-goal {
  position: relative;
  display: flex;
  align-self: center;
  padding: 0 50px 0 50px;
}

.lbs {
  display: flex;
  align-items: flex-end;
}

.str-textarea {
  width: 100%;
  padding: 0 20%;
}

.create-plan-share {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}


/* SHOW PLAN */

.show-plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#progress-bar {
  position: 'relative';
  margin: 0 auto 20px auto;
  width: 80%;
}

.edit-form {
  margin: 20px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ui.form .field.edit-inputs {
  width: 50%;
  margin: 0;
}

.edit-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.ui.button.progress-buttons {
  margin: 10px;
  display: flex;
}

.ui.card.show-plan-head {
  width: 100%;
  margin: 10% 30%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.show-plan-head {
  text-align: center;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.show-plan-titles {
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
  font-family: 'Raleway', sans-serif;

}

/* EXERCISE LIST */

.exerciseList {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.show-plan-ex-sections {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.add-exercise-button {
  width: 100%;
  text-align: center;
}

.create-exercise {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.create-exercise-form {
  width: 100%;
  display: flex;
  /*flex-direction: column;*/
  /*margin: 0 auto;*/
  justify-content: center;
  text-align: center;
}

.create-exercise-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
}

/* COMMENT */

.commentSection {
  width: 100%;
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
}


/* PROFILE */

.profile-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1.profile-page-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  margin: 40px 0;
  letter-spacing: 3px;
}

h2.profile-page-subtitle {
  text-align: center;
}












